* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    max-width: 350px;
}
section > div {
    margin-left: 10px;
}

#userDataContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 272px;
    max-width: 350px;
}
#userDataContainer > div {
    font-size: 13px;
    flex: 0 0 px;
    padding: 10px;
    border: 1px solid #ccc;
}
#userIcon{
    align-self: center;
    width: 70px;
}

.welcomeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 350px;
    margin-bottom: 30px;
}
.welcomeContainer img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

#inventoryContainer {
    font-size: 13px;
    flex: 0 0 opx;
    margin: 10px;
    padding: 10px;
    max-width: 95px;
    height: 272px;
    border: 1px solid #ccc;
}
#inventoryIcon {
    margin-left: 10px;
    border: 1px solid white;
    width: 30px;
}
#inventoryIcon:hover{
    border-color: #d6d5a8; /* Cambia el color de fondo cuando el cursor está sobre el botón */
}

#equippedObjectContainer {
    font-size: 13px;
    flex: 0 0 opx;
    margin: 10px;
    padding: 10px;
    max-width: 95px;
    height: 272px;
    border: 1px solid #ccc;
}
#equippedObjectsIcon {
    margin-left: 10px;
    border: 1px solid white;
    width: 30px;
}

#objectsContainer {
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 350px;;
}
#objectsContainer > div {
    flex: 0 0 opx;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 95px;
}
.objectIcon {
    width: 50px;
}

#buttonsContainter{
    max-width: 90px;
}
button {
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
#addButton{
    margin-bottom: 10px;
    font-size: 10px;
    background-color: white;
    width: 75px;
}
#addButton:hover {
    background-color: #d6d5a8; 
}
#resetStoreButton {
    margin-bottom: 10px;
    font-size: 8px;
    background-color: white;
    width: 60px;
}
#resetStoreButton:hover {
    background-color: #d6d5a8; 
}
#getRandomQuoteButton{
    font-size: 8px;
    background-color: white;
    width: 60px;
}
#getRandomQuoteButton:hover {
    background-color: #d6d5a8; 
}

#equipMessage {
    font-size: 10px;
    width: 20px;
    height: 10px;
}
#unequipMessage {
    font-size: 10px;
    width: 20px;
    height: 10px;
}

@media screen and (max-width: 768px) {
    nav ul {
    flex-direction: column;
    align-items: center;
    }
    nav ul li {
    margin: 1rem 0;
    }
}