.Item {
  flex-basis: calc(25% - 20px);
  border-radius: 5px;
  padding: 10px;
  max-width: calc(25% - 20px);
}

.ItemCard {
  text-align: center;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-right: 10px;
}

button {
  margin-bottom: 10px;
  background-color: #eeeeee;
}

@media (max-width: 768px) {
  .itemListContainer {
    max-width: 100%;
  }

  .Item {
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
  }
}
